{% extends "base.html" %}
{% block title %}
Edit Event
{% endblock title %}
{% block head %}
<script>
    $(document).ready(function(){
        var added_jobs={};
        $('#select_required_job').change(function(){ //when user selects a different job
            console.log('-------------------activating change function---------------')
            var job_id = $(this).val();
            var job_text = $("#select_required_job option:selected").text();
            
            
            if (added_jobs[job_id]!==undefined){
                console.log("if check passed")
                console.log('job already added')
            } else{
                console.log("begin else statement")
                added_jobs[job_id]=job_text
                console.log("added id "+job_id+" to dictionary "+added_jobs+", value: "+added_jobs[job_id]) // adding to added_jobs array
                console.log("selected job text: "+job_text);
                $('#job_selection').append(
                    '<div class="input-group mb-3" id="close_'+job_id+'">'+
                        '<div class="input-group-prepend">'+
                            '<div class="input-group-text">'+
                                '<button type="button" class="close" super_id="close_'+job_id+'" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
                            '</div>'+
                        '</div>'+
                        '<fieldset disabled><input type="text" class="form-control" name="jobType_'+job_id+'" placeholder="'+job_text+'" aria-label="job type" aria-describedby="job type"></fieldset>'+
                        '<div class="input-group-append">'+
                            '<input type="number" class="form-control" placeholder="0" name="amount_'+job_id+'" id="number" aria-describedby="">'+
                        '</div>'+
                    '</div>'
                );
                console.log("removing option: "+$(".option[value="+job_id+"]").val()+" from option selector")//removing option
                $(".option[value="+job_id+"]").remove()
            
            }
            
        })
        $(document).on('click', '.close', function(){
            console.log("||||||||||||||activating click function||||||||||||||||")
            var job_id = $(this).attr("super_id").slice(6);
            console.log("job id: "+job_id)
            var job = added_jobs[job_id];
            console.log(job)
            current_id=$(this).attr('super_id');
            console.log("removing: "+current_id);
            $("#"+current_id).remove();
            
            console.log("new spliced array: "+added_jobs); //removing from added_jobs array
            console.log("adding option:"+job+" to option selector"); // adding option
            $("#select_required_job").append(
                `<option class= "option" value="${job_id}">${job}</option>`
            )
            delete added_jobs[job_id];
        })
        
    })
</script>
{% endblock head %}
{% block body %}
<div class="d-flex justify-content-center">
    <div class="card-group">
        <div class="card" style="width: 35rem;">
            <div class="card-header">
                Edit Event {{event.name}}
                ____update the form action ______
            </div>
            <div class="card-body">
                <form action="{% url 'event:edit' event_id=event.id %}" method="POST">
                    {%csrf_token%}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Whoops!</strong> {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <label for="name">Event Name</label>
                        <input type="text" class="form-control" name="name" id="name" value="{{event.name}}">
                    </div>
                    <div class="form-group">
                        <label for="email">Event Associated Email</label>
                        <input type="email" class="form-control" name="email" id="email" value="{{event.email}}">
                    </div>
                    <div class="form-group">
                        <label for="phone_number">Phone Number</label>
                        <input type="text" class="form-control" name="phone_number" id="phone_number" value='9491234567'>
                    </div>
                    <div class="form-group">
                        <label for="time">Event Scheduled Time</label>
                        <input type="date" class="form-control" name="time" value='2020-09-29' id="time">
                    </div>
                    <div class="form-group">
                        <label for="website">Event Website</label>
                        <input type="text" class="form-control" name="website" value='' id="website">
                    </div>
                    <div class="form-group">
                        <label for="address">Event Location</label>
                        <input type="text" class="form-control" name="address" value='' id="address">
                    </div>
                    <div class="form-group">
                        <label for="description">Event About</label>
                        <textarea type="date" class="form-control" name="description" value='' id="description"></textarea>
                    </div>
                    <div class="" id="job_selection">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Required Jobs</label>
                        <select class="form-control" id="select_required_job">
                            <option class="option" value="none"  selected>Select a Job Type</option>
                            {% for job in jobs %}
                            <option class= "option" value={{job.id}}>{{job.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <button type="submit" class="btn btn-success disabled">Save Edits</button>
                </form>
            </div>
        </div> 
    </div>
</div>
{% endblock %}